.App {
    text-align: center;
}

body {
    overflow-x: hidden;
}

.signInCheckbox input {
    width: 15px;
    height: 15px;
}

.navLink {
    color: white;
    padding: 0.5em 1em;
    text-decoration: none !important;
    border: none !important;
}

.navLink .active {
    background: red;
}

a.navLink {
    color: white;
}

.navLink:hover {
    text-decoration: none;
    opacity: 0.6;
    color: white;
    box-shadow: 1px 1px 5px -3px black;
}

button.btn.btn-default {
    background-color: #d3aa6e;
}

@media (max-width: 1000px) {
    body {
        overflow: initial;
    }
}
